.colcss{
  min-height: 100% !important;
  /* From https://css.glass */
background: rgba(20, 16, 2, 0.08);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(10.6px);
-webkit-backdrop-filter: blur(10.6px);
border: 1px solid rgba(20, 16, 2, 0.25);


}
.colcss:hover{
  transform: scale(1.1);
}


.searchBox{
  position:fixed;
  bottom: 10%;
  left: 25%;
  width: 50%;
}

.columns{
  padding-top: 1rem;
}

.App{
  padding: 0 1rem;

}
.headers{
  color: #333;
  font-weight: 500;
  font-size:  2rem;
  line-height: 2rem;
  padding-top: 1rem;

}

.container{
  padding:1rem;
  
}